* {
  margin: 0;
  padding: 0;
  transition: all 0.1s;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
  font-size: 10px;
  @include media-desktop {
    font-size: 9.5px;
  }
}

body {
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  color: $color-text;
  @include media-full-adaptive {
    width: 95%;
  }
}