// $color-primary: #F40000;

$color-additional: #FFBE40;
// $color-header-text: #FFFFFF;
// $color-text: #2B1E23;
// $color-table: #352E2D;
$color-text-input: #c4c4c4;



$color-border-yellow: #FFBE40;
$color-border-red: #C90000;
$color-text-common: #352E2D;
$color-text-red: #C90000;
$color-text-white: #FFFFFF;
$color-button-bg-red: #C90000;
$color-primary-darken: #420C12;
$color-primary: #C90000;
$color-background-white: #FFFFFF;
$color-background-black: #2B1E23;
$color-section-header: #352E2D;