.advantages {
  display: flex;
  flex-direction: column;
}

.advantages__item {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.advantages__icon {
  display: block;
}

.advantages__text {
  margin-left: 35px;
  font-size: 2.4rem;
}