.advantages__item {
    position: relative;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.advantages__icon {
   position: absolute;
   top: 50%;
   left: 0;
   z-index: 1;
   transform: translateY(-50%);
   text-align: center;

}

.advantages__text {
    margin-left: 115px;
    font-size: 3rem;
    line-height: 4.2rem;
    color: #352e2d;
}
