// Feedback

.feedback__inner {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.feedback__block {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// .feedback__text {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
// }

.feedback__text > p {
    margin-bottom: 20px;
}

.word__special {
    font-size: 1.8rem;
    font-weight: 700;
    color: #c90000;
}

// Social

.social__group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    transition: background 0.1s linear;
}

.social__item:not(:first-child) {
    margin-left: 10px;
}

.social__item:hover .social__icon {
    fill: #c90000;
}

.social__icon {
    display: block;
    fill: #2b1e23;
    height: 40px;
}