.feedback__form_main {
  margin-top: auto;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 180px;
  background: rgba(255, 255, 255, 0.15);
}

.feedback__form {
  // margin-top: auto;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 180px;
  background: rgba(255, 255, 255, 0.15);
}

.form__title {
  margin-bottom: 18px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-weight: 700;
  color: #fff;
}

.form__fields {
  // margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.form__group {
  position: relative;
  margin-bottom: 15px;
}

.form__input {
  padding: 5px;
  width: 100%;

  background: #ffffff;
  outline: none;
  border: 1px solid #c4c4c4;
  border-radius: 2px;

  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #352e2d;
  transition: 0.2s;
}

.form__input:hover {
  border: 1px solid #ffbe40;
}

.form__input:focus,
.form__input:not(:placeholder-shown) {
  border: 1px solid #ffbe40;
}

.form__label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;

  transition: 0.2s;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #c4c4c4;
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown) ~ .form__label {
  top: -7px;
  left: 0;
  font-size: 0.9rem;
  line-height: 1.1rem;
  color: #ffbe40;
}

.service-page_input:hover {
  border: 1px solid $color-primary;
}

.service-page_input:focus,
.service-page_input:not(:placeholder-shown) {
  border: 1px solid $color-primary;
}

.service-page_input:focus ~ .service-page_label,
.service-page_input:not(:placeholder-shown) ~ .service-page_label {
  color: $color-primary;
}

.form__text {
  margin-top: 40px;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #ffffff;
}
