.main {
    margin: 90px auto 90px;
}

.main_on-main {
    margin: 0 auto 90px;
}

.main_on-services {
    margin: 0 auto 150px;
}

/* Container */

.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    max-width: 1180px;
}

.page__header {
    margin-bottom: 40px;
    max-width: 60%;
    text-transform: uppercase;
    text-align: left;
    font-size: 3.6rem;
    font-weight: 700;
    color: $color-text-common;
}
