.main {
    margin: 40px auto 90px;
}

/* Container */

.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    max-width: 1110px;
}

.page__header {
    margin-bottom: 40px;
    max-width: 60%;
    text-transform: uppercase;
    text-align: left;
    font-size: 3.6rem;
    font-weight: 700;
    color: #c90000;
}
