p {
    margin: 0 0 10px;
    font-size: 1.8rem;
}

.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Container */

.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    max-width: 1110px;
}

// Button btn--

.btn--big {
    padding: 10px 15px;
    width: 200px;
}

.btn--red {
    background: linear-gradient(180deg, #c90000 0%, #910000 100%);
    transition: background 0.1s linear;
}
