.section {
    margin: 0 auto;
    padding-top: 60px;
}

.section__header {
    margin-right: auto;
    margin-bottom: 40px;
    max-width: 60%;
    text-transform: uppercase;
    text-align: left;
    font-size: 3.6rem;
    font-weight: 700;
    color: $color-primary;
}
