.section {
    margin: 0 auto;
    padding-top: 150px;
}

.section__header {
    margin-right: auto;
    margin-bottom: 70px;
    max-width: 60%;
    text-align: left;
    font-size: 6rem;
    line-height: 1;
    font-weight: 700;
    color: $color-section-header;
}

.section-main-after-intro {
    padding-top: 115px;
}
