.special-offers {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.special-offer__item {
  position: relative;
  padding: 20px 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 380px;
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: 700;
  color: $color-text-common;

  border: 2px solid #ffbe40;
  border-radius: 2px;
}

.special-offer__item_socials {
  width: 334px;
  font-weight: 400;
}

.special-offer__item_socials > p {
  margin-bottom: 5px;
}

.dots__square-left {
  position: absolute;
  top: 50%;
  left: -35px;
  z-index: 1;
  transform: translateY(-50%);
  display: block;
  width: 65px;
  height: 93px;
  background-color: $color-background-white;
  border-top: 14px solid #fff;
  border-bottom: 14px solid #fff;
}

.dots__square-right {
  position: absolute;
  top: 50%;
  right: -35px;
  z-index: 1;
  transform: translateY(-50%);
  display: block;
  width: 65px;
  height: 93px;
  background-color: $color-background-white;
  border-top: 18px solid #fff;
  border-bottom: 14px solid #fff;
}

.dots__square-right_between-items {
  right: -55px;
}

.dots__square-between {
  position: absolute;
  top: 50%;
  right: -206px;
  z-index: 1;
  transform: translateY(-50%);
  display: block;
  width: 225px;
  height: 110px;
  background-color: $color-background-white;
  border-top: 14px solid #fff;
  border-bottom: 14px solid #fff;
}

.special-offer__text {
  margin-top: 55px;

  text-align: right;
  font-size: 2.4rem;
  line-height: 2.7rem;
}
