.button {
  padding: 8px 14px;
  background: rgba(43, 30, 35, 0.44);
  color: $color-header-text;
  text-decoration: none;
  text-align: center;
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
  &_big {
    padding: 11px 15px;
    width: 200px;
  }
  &_red {
    background: linear-gradient(180deg, $color-primary 0%, $color-primary-darken 100%);
  }
  &_longer {
    width: 100%;
  }
}