.dots {
  position: relative;
}

.dots__item {
  position: absolute;
  display: block;
  background-color: transparent;
}

.dots__big--left {
  top: -80px;
  left: -550px;
  width: 525px;
  height: 525px;
}

.dots__right--middle {
  top: -80px;
  right: -350px;
  width: 312px;
  height: 312px;
}

.dots__right--small {
  top: 330px;
  right: -310px;
  width: 120px;
  height: 262px;
}

.dots__form {
  position: absolute;
  top: 50%;
  left: -40px;
  z-index: 1;
  display: block;
  width: 75px;
  height: 99px;
  transform: translateY(-50%);
  background-color: #fff;
  border-top: 12px solid #fff;
  border-bottom: 12px solid #fff;
}