.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 92px;
  max-width: 1360px;
  margin: 0 auto;
  &__links {
    display: flex;
    justify-content: space-between;
    width: 700px;
    list-style: none;
    @include media-desktop {
      width: auto;
    }
  }
  &__link {
    & > a {
      font-size: 1.8rem;
      text-decoration: none;
      color: $color-text;
    }
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  &_on-main {
    & > ul > li > a {
      color: #ffffff;
    }
  }
}
