.slide {
  &__information {
    background: white;
    border: 3px solid #FFBE40;
    min-width: 450px;
    position: relative;
    left: -100px;
    padding: 20px;
  }
  &__name {
    font-size: 1.8rem;
    font-weight: 700;
  }
  &__position {
    font-size: 1.4rem;
    margin-bottom: 25px;
  }
  &__description {
    font-size: 1.8rem;
    width: 370px;
  }
  &__arrows {
    display: flex;
    background: #FFFFFF;
    position: relative;
    left: -152px;
    border: 5px solid white;
    & > * {
      height: 25px;
      cursor: pointer;
      &:first-child {
        margin-right: 15px;
        transform: rotateY(180deg);
      }
    }
  }
}