.special-inf {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}


.special-inf__inner {
    padding: 40px 60px 40px 85px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 505px;
    height: 195px;

    border: 3px solid $color-border-red;
    border-radius: 2px;
}

.special-inf__text {
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: $color-text-common;
}

.special-inf__text > p {
    margin-bottom: 20px;
}

.special-inf__phone {
    font-size: 3.6rem;
    line-height: 4.4rem;
    font-weight: 700;
    text-decoration: none;
    color: $color-text-red;
}
