.about-content {
  width: 1180px;
  margin: 0 auto;
  &__header {
    @extend %text-header;
  }
  &__subheader {
    font-size: 3.6rem;
    margin: 40px 0;
  }
  &__text,
  &__list {
    font-size: 1.8rem;
    line-height: 2.9rem;
    list-style: none;
    &_red {
      color: $color-text-red;
    }
  }
  &__list {
    margin-top: 10px;
  }
  &__marker {
    font-weight: 700;
    color: $color-text-red;
  }
  &__photo {
    width: 100%;
    margin: 15px 0;
  }
}