.about-content {
  margin-top: 60px;
  &__header {
    @extend %text-header;
  }
  &__text-container {
    &_left {
      margin-left: 15%;
    }
    &_right {
      margin-right: 15%;
    }
  }
  &__subheader {
    font-size: 2.4rem;
    margin-bottom: 20px;
  }
  &__text,
  &__list {
    font-size: 1.8rem;
    line-height: 2.9rem;
    list-style: none;
  }
  &__list {
    margin-top: 10px;
  }
  &__marker {
    font-weight: 700;
    color: $color-primary;
  }
  &__photo {
    width: 100%;
    margin: 15px 0;
  }
}