// .application__content {
//     display: flex;
//     flex-wrap: nowrap;
// }

// .application__item {
//     position: relative;
//     width: 50%;
// }

// .fixed-height {
//     height: 540px;
// }

// .application__dots {
//     position: absolute;
//     top: 50%;
//     left: 40px;
//     z-index: -1;
//     transform: translateY(-50%);
// }

// .application__border {
//     position: absolute;
//     top: 50%;
//     left: 23%;
//     z-index: -1;
//     transform: translateY(-50%);
//     display: block;
//     width: 515px;
//     height: 390px;
//     font-size: 0rem;
//     color: transparent;
//     background-color: transparent;
//     border: 3px solid $color-additional;
// }

.application {
    position: relative;
}

.application__attention {
    margin-top: 40px;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: $color-text-red;
}

.application__attention_error {
    margin-top: 40px;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: $color-text-common;
}
