.application {
    position: relative;
}

.application__attention {
    margin-top: 40px;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: $color-text-red;
    @include media-desktop {
        font-size: 1.6rem;;
    }
}

.application__attention_error {
    margin-top: 40px;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: $color-text-common;
    @include media-desktop {
        font-size: 1.6rem;;
    }
}
