.contacts__inner {
    display: grid;
    grid-template-columns: 65% 35%;
    margin: auto;
    @include media-desktop {
        grid-template-columns: 55% 45%;
    }
}

.contacts__map {
    max-width: 780px;
    height: 525px;
    @include media-desktop {
        width: auto;
        max-width: auto;
    }
}

.google-map {
    width: 100%;
    height: 100%;
    border: none;
}

.contacts__schedule {
    position: relative;
    margin-left: 20px;
    padding: 15px 56px 15px 15px;
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid $color-border-yellow;
    border-radius: 2px;
}

.dots__contacts-border {
    position: absolute;
    top: 50%;
    right: -19px;
    transform: translateY(-50%);
    border-top: 19px solid $color-border-white;
    border-bottom: 19px solid $color-border-white;
    background-color: $color-background-white;
}

.schedule__item {
    margin-bottom: 20px;
    text-align: left;
    line-height: 1.2;
}

.schedule__title {
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-weight: 700;
}

.schedule__text {
    font-size: 1.8rem;
}

.schedule__text > * {
    text-decoration: none;
    color: $color-text-common;
}
