.footer {
  display: flex;
  width: 80%;
  max-width: 1360px;
  margin: 0 auto 20px;
  padding-top: 20px;
  font-size: 1.4rem;
  border-top: 4px solid $color-text;
  &__links {
    list-style: none;
  }
  &__link,
  &__schedule > * {
    display: block;
    margin-bottom: 15px;
    text-decoration: none;
    color: $color-text;
    &:hover {
      color: $color-primary;
    }
    & > a {
      text-decoration: none;
      color: $color-text;
      &:hover {
        color: $color-primary;
      }
    }
  }
  &__social {
    display: flex;
    align-items: center;
    justify-content: center;
    & > *:not(:last-child) {
      margin-right: 15px;
    }
    & > a > svg {
      width: 27px;
      &:hover {
        fill: #c90000;
      }
    }
  }
}