.help {
  &__header {
    @extend %text-header;
    margin-bottom: 75px;
  }
  &__list {
    &_sublist {
      margin-left: 20px;
    }
    & > * {
      font-size: 1.8rem;
      list-style: none;
      margin-bottom: 30px;
      @include media-desktop {
        font-size: 1.6rem;
      }
      & > a {
        text-decoration: none;
        color: $color-text;
      }
    }
  }
   
  &__text {
    font-size: 1.8rem;
    @include media-desktop {
      font-size: 1.6rem;
    }
    &_bold {
      color: $color-primary;
      font-weight: normal;
      font-size: 2.2rem;
    }
    &_red {
      color: $color-primary;
    }
  }
  &__subheader {
    @extend %text-header;
    font-size: 2.4rem;
    font-weight: 600;
    margin: 0 0 38px;
  }
}