.services__content {
    display: flex;
    flex-direction: column;
}

.services__text {
    margin-bottom: 50px;
    font-size: 1.8rem;
}

.services__table {
    margin-bottom: 80px;
    display: flex;
}

.services__price-list {
    text-align: left;
    width: 455px;
    font-size: 1.8rem;
    border-collapse: collapse;
    border: solid 1px #000;
}


.services__picture {
    margin: auto auto 0;
    display: block;
    width: 510px;
    height: 290px;
}

.service__form {
    margin: 0 auto;
}